*{
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.App{
  display:flex ;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 768px;
}

.computer_wrapper{
  border-radius: 10px;
  overflow: hidden;
}

.display{
  width: 400px;
  height: 150px;
  background: linear-gradient(0.35turn, #FBAB7E, #F7CE68);
  font-size: 50px;
  text-align: right;
  color: #fff;
  line-height: 150px;
  padding: 10px;
  
}

.button{
  display: inline-block;
  margin: 10px;
  background-color: aquamarine;
  font-size: 26px;
  padding: 5px;
  color: blue;
}


.number{
  width: 400px;
}

.but{
  display: inline-block;
  font-size: 45px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #fff;
}

.action{
background-color: #f9f9f9;
}

.sum{
  background: linear-gradient(0.35turn, #FBAB7E, #F7CE68);
}

.off{
  display: none;
}
